<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon icon-only name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="header-section" (click)="goBack()">
    <ion-grid>
      <ion-row class="header-bottom">
        <ion-col size="1" class="ion-no-padding">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-col>
        <ion-col size="11" class="ion-no-padding">
          <ion-label>
            {{'pdistributor.pdistributorPage.pdistributor' | translate}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-card>
    <ion-grid style="background-color: white;">
      <ion-row>
        <ion-col size="2"><div class="ion-text-center">
          <ion-icon style="font-size: 38px;margin-top: 5px;" slot="start" name="person"></ion-icon>
        </div>
        </ion-col>
        <ion-col size="10" style="font-size: 10px;color: black;">
          <ion-row>
            <ion-col>
              <div class="ion-text-left" style="font-size: 16px;">
                <ion-label class="text-bold">Santosh Kumar</ion-label>
              </div>
            </ion-col>
          </ion-row>
          <div class="title-margin">
            <ion-row  >
              <ion-col size="7">
                <div class="ion-text-left">
                  <ion-row>
                    <ion-col size="1"><div class="ion-text-left icon-color"><ion-icon  name="mail-outline"></ion-icon></div></ion-col>
                    <ion-col size="11">
                      <div class="ion-text-left">
                        <ion-label style="margin-left: 4px;">kr.jagindradixit@gmail.com
                        </ion-label>
                      </div>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-col>
              <ion-col size="5">
                <div class="ion-text-left">
                    <ion-row>
                      <ion-col size="2"><div class="ion-text-left icon-color"><ion-icon  name="call-outline"></ion-icon></div> </ion-col>
                      <ion-col >
                        <div class="ion-text-left">
                          <ion-label>+92-9999456666
                          </ion-label>
                        </div>
                      </ion-col>
                    </ion-row>
                </div>
              </ion-col>
            </ion-row>
          </div>
          
        <div class="subtitle-margin">
          <ion-row >
            <ion-col size="7">
              <div class="ion-text-left">
                <ion-row>
                  <ion-col size="1"><div class="ion-text-left icon-color"><ion-icon  name="location-outline"></ion-icon></div></ion-col>
                  <ion-col size="11">
                    <div class="ion-text-left">
                      <ion-label style="margin-left: 4px;">Upadhyay lane, kadam kuan patna
                      </ion-label>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
            <ion-col size="5">
              <div class="ion-text-left">
                  <ion-row>
                    <ion-col size="2"><div class="ion-text-left icon-color"><ion-icon  name="person-outline"></ion-icon></div> </ion-col>
                    <ion-col >
                      <div class="ion-text-left">
                        <ion-label>Jhaganand pandey
                        </ion-label>
                      </div>
                    </ion-col>
                  </ion-row>
              </div>
            </ion-col>
          </ion-row>
        </div>
        </ion-col>
        </ion-row>
        </ion-grid>          
  </ion-card>
</ion-content>
<ion-footer>
  <ion-button fill="outline" expand="block">{{'pdistributor.pdistributorPage.save-pdistributor' | translate}}
  </ion-button>
</ion-footer>