<app-header heading="Preferred Distributor's" [showMenuButton]="true" [showSubHeader]="true" [showSearch]="false" [showCart]="true">
</app-header>
<ion-content>
  
  <ion-card>
    <ion-grid style="background-color: transparent;">
      <ion-row>
        <ion-col size="1"><div class="ion-text-center">
          <ion-icon style="font-size: 24px;" slot="start" name="person-circle-outline"></ion-icon>
        </div>
        </ion-col>
        <ion-col size="11" class="info-section">
          <ion-row class="padding-title">
            <ion-col>
              <div class="ion-text-left" style="font-size: 16px;">
                <ion-label class="text-bold">{{distributor.stkName}}</ion-label>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="padding-bottom">
            <ion-col size="1"><div class="ion-text-center icon-color"><ion-icon  name="mail-outline"></ion-icon></div></ion-col>
            <ion-col size="11">
              <div class="ion-text-left info-text">
                <ion-label >{{distributor.stkAddressLine2}}
                </ion-label>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="padding-bottom">
            <ion-col size="1"><div class="ion-text-center icon-color"><ion-icon  name="call-outline"></ion-icon></div></ion-col>
            <ion-col size="11">
              <div class="ion-text-left info-text">
                <ion-label >{{distributor.stkMobile}}
                </ion-label>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="padding-bottom">
            <ion-col size="1"><div class="ion-text-center icon-color"><ion-icon  name="location-outline"></ion-icon></div></ion-col>
            <ion-col size="11">
              <div class="ion-text-left info-text">
                <ion-label >{{distributor.stkAddressLine1}}
                </ion-label>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="padding-bottom">
            <ion-col size="1"><div class="ion-text-center icon-color"><ion-icon  name="person-outline"></ion-icon></div></ion-col>
            <ion-col size="11">
              <div class="ion-text-left info-text">
                <ion-label >{{distributor.stkArea}}
                </ion-label>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
        </ion-row>
        </ion-grid>          
  </ion-card>
</ion-content>
<app-footer  [isFirstOutline]=false [moreEvent]=false [firstTitle]="'Save As Preferred Distributor'" (firstEvent)="saveDistributor();"></app-footer>