
<ion-footer>
<div class="lagend-info" *ngIf="showInfo">
  <ion-grid>
    <ion-row class="temp">
      <ion-col>
        <ion-label style="font-size: 10px;"><ion-icon  name="information-circle"></ion-icon>
        <ion-label class="top">  {{infoLabel | translate : {param:infoText?.stkName ? infoText?.stkName : ''} }}</ion-label> 
        </ion-label> 
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<div  *ngIf="isLegand" class="lagend-info">
  <ion-grid>
    <ion-row class="sd-info">
      <ion-col size="5">
       <div class="square color-red"><ion-label class="na-info">N/A</ion-label></div>
       <ion-label>&nbsp;Stockist price not available.</ion-label>
      </ion-col>
      <ion-col>
       <div class="square color-red"><ion-label class="clear">N/A</ion-label></div>
     <ion-label>&nbsp;Stock not available.</ion-label>
      </ion-col>
      <ion-col>
        <div class="square color-green"><ion-label class="clear">N/A</ion-label></div>
      <ion-label>&nbsp;Stock available.
   </ion-label>
       </ion-col>
    </ion-row>
  </ion-grid>
</div>

  <div class="event-section footer-section">
    <ion-row *ngIf="moreEvent">
      <ion-col size="6">
        <div class="ion-text-left">
          <ion-button [ngClass]="{'button-left': isFirstOutline === true,'button-right': isFirstOutline === false}" shape="round"  (click)="actionFirstTapped()"><ion-label >{{firstTitle | translate}}</ion-label></ion-button>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="ion-text-right">
          <ion-button [ngClass]="{'button-left': isSecondOutline === true,'button-right': isSecondOutline === false}" shape="round"   (click)="actionSecondTapped()"><ion-label>{{secondTitle | translate}}</ion-label></ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!moreEvent">
      <ion-col >
        <div class="ion-text-center">
          <ion-button expand="block" [ngClass]="{'button-single': isFirstOutline === true,'button-single': isFirstOutline === false}" shape="round"  (click)="actionFirstTapped()"><ion-icon *ngIf="isIcon" slot="start" name="refresh-outline"></ion-icon><ion-label >{{firstTitle | translate}}</ion-label></ion-button>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-footer>