.event-section{
    padding: 5px 5px 0px 5px;
}
.button-left {
    min-width: 155px !important;
    width: 155px !important; 
    min-height: 50px !important;
   height: 50px !important;
   text-transform: none;
    --background:transparent;
    --border-color:white;
    --border-width:2px;
    --border-style:solid;
    ion-label{
        color: white;
        font-size: 17px;
    }
}
.button-right {
    min-width: 155px !important;
    width: 155px !important;
    min-height: 50px !important;
   height: 50px !important;
   text-transform: none;
   --border-color:white;
   --border-width:2px;
    --background:white;
    ion-label{
        color: #E84E0E;
        font-size: 17px;

    }
}
.button-single {
    min-height: 50px !important;
   height: 50px !important;
    --background:white;
    text-transform: none;

    ion-label{
        color: #E84E0E;
        font-size: 17px;

    }
}

.footer-section {
    top: 0px !important;
    left: 0px !important;
    width: 100% !important;
    height: 76px !important;
    background: transparent linear-gradient(180deg, #EF4B22 0%, #F69427 100%) 0% 0% no-repeat padding-box !important;
    opacity: 1 !important;
  }

  .info-section {
    --min-height:35px !important;
    --padding-top:0 !important;
    --padding-bottom:0px !important;
      height: 35px;
    --background:white;
    ion-label {
        font-size: 12px;
    }
  }
  ion-icon {
    padding: 0;
    margin:0 2px 0 0;
    font-size:20px;
    color: #EF4B22;
  }
  .color-green{
      background-color: green;
  }
  .color-trans{
      background-color: transparent;
  }
  .color-red{
      background-color: red;
  }
  .square{
      min-height: 30px !important;
      min-width: 30px !important;
      width: 30px !important;
      height: 30px !important;
      display: inline;
      text-align: center;
      border-radius: 4px;
     
  }

  .na-info{
        font-size: 8px;
        color: black;

  }
  .lagend-info{
   //   padding: 0px 16px 0px 16px;
      background-color: white;
      ion-row ion-col{
          padding: 0 !important;
          margin: 0 !important;
      }
  }
  .top{
      position:absolute;
      top:4px !important;
  }
  .sd-info{
      background-color: white;
      ion-label{
          font-size: 10px !important;
      }
  }
  .clear {
      color: transparent !important;
  }
