<ion-header>
  <ion-toolbar style="padding-top: 12%;">
    <ion-buttons slot="start" >
      <ion-menu-button *ngIf="showMenuButton" color="gsk-white" class="menuSize"></ion-menu-button>
    </ion-buttons>
    <ion-title  color="gsk-white">
      {{heading}}
    </ion-title>
    <ion-buttons slot="end"  *ngIf="showCart">
      <ion-icon class="cartSize" icon-only name="cart-outline"></ion-icon>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<ng-container *ngIf="showSubHeader">
<ion-toolbar class="sub-header-toolbar" >
  <ion-row class="title-header">
    <ion-col>
      <ion-icon name="chevron-back-outline" class="backButtonicon"></ion-icon>
      <ion-label color="gsk-white">Back</ion-label>
    </ion-col>
  </ion-row>
</ion-toolbar>
</ng-container>
<ng-container *ngIf="showSearch">
  <ion-row>
    <ion-col [size]="searchBarSize">
      <ion-searchbar> </ion-searchbar>
     </ion-col>
    <ion-col [size]="settingIconSize" class="searchBar" *ngIf="issettingIcon">
      <ion-icon name="options-outline"></ion-icon>
    </ion-col>
  </ion-row>
</ng-container>
