
.t-o-pcontainer {
    width: 100%;
    text-align: center;
    align-items: center;
    align-content: center;
    height: 50px;
    position: relative;
    margin-top: 10px;
    
}
.t-d-line {
    min-width: 300px !important;
    width: 300px;
    background-color: green;
    min-height: 2px;
    height: 2px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);;
}
.t-o-container{
    min-width: 300px !important;
    width: 300px;
    background-color:transparent;
    min-height: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);;
}

.o-placecircel{
    min-width: 32px;
    min-height: 32px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border:1px solid green;
    background-color:green ;
    position: relative;
    left:0px;
    text-align: center;
}
.o-scircel{
    min-width: 32px;
    min-height: 32px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border:1px solid green;
    background-color:green ;
    position: relative;
    left:34px;
}
.o-pcircel{
    min-width: 32px;
    min-height: 32px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border:1px solid green;
    background-color:white ;
    position: relative;
    left:68px;
}
.inner-pcircel {
    min-width: 22px !important;
    min-height: 22px !important;
    width: 22px !important;
    height: 22px !important;
    border-radius: 11px;
    background-color:green ;
    position: absolute;
    left: 5px;
    top: 5px;

}
.o-info-container{
    width: 100%;
    text-align: center;
    align-items: center;
    align-content: center;
    height: 30px;
    position: relative;
    
}
.center {
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;

}
.t-o-icon-size{
  font-size: 24px;
  color: white;
}
.inner-center {
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);;
    position:absolute;
    background-color: green;
    min-width: 22px;
    min-height: 22px;
    border-radius: 11px;
}

.o-placelabel {
    position: absolute;
    width: 68px;
    min-width: 68px;
    min-height: 24px;
    left: -18px;
    font-size: 14px;
}
.o-slabel {
    position: absolute;
    width: 68px;
    min-width: 68px;
    min-height: 24px;
    left: 118px;
    font-size: 14px;
}
.o-plabel {
    position: absolute;
    width: 68px;
    min-width: 68px;
    min-height: 24px;
    right: -18px;
    font-size: 14px;
}