<div class="t-o-pcontainer">
  <div class="t-d-line"></div>
  <ion-row class="t-o-container">
    <ion-col>
      <div class="o-placecircel">
        <span class="center">
          <ion-icon class="t-o-icon-size" name="checkmark-outline"></ion-icon>
      </span>
      </div>
    </ion-col>
    <ion-col>
      <div class="o-scircel">
        <span class="center">
          <ion-icon class="t-o-icon-size" name="checkmark-outline"></ion-icon>
        </span>
      </div>
    </ion-col>
    <ion-col>
      <div class="o-pcircel">
        <span class="inner-center"> </span>
      </div> </ion-col>
</ion-row>
</div>
