<div style="width: 100%;height: 100%;">
 <!-- <div class="pdf-container">
   
            <ion-icon class="icon-pos" style="color:red" icon-only slot="end" name="close-outline" (click)="closeModel()"></ion-icon>
         
<ngx-extended-pdf-viewer class="pdf" [(src)]="url" height="96%" [showToolbar]="false"></ngx-extended-pdf-viewer>
          </div>-->
          <ngx-extended-pdf-viewer  [(src)]="url" height="100%" [textLayer]="true" [showToolbar]="false"></ngx-extended-pdf-viewer>

          <ion-icon class="icon-pos" style="color:red" icon-only slot="end" name="close-outline" (click)="closeModel()"></ion-icon>

        </div>




