.pdf-container{
    min-height: 100% !important;
    min-width: 100% !important;
    height: 100% !important;
    width: 100% !important;
    background-color: rgba(1, 1, 1, .8);
}
.icon-pos{
    position: absolute;
    right: 5px;
    top:5px;
    z-index: 1;
    font-size: 26px;
}
.pdf-display{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);  
  width: 320px !important;
  height: 450px !important;
}