
.icon-margin{
    margin-top: 10px !important;
}
table{
    font-size: 14px;
    table-layout: fixed;
}
.color-green {
    background-color: green;
    height: 60px !important;
    min-height: 60px !important;
    position: relative;
    margin: 1px;
}
.color-trans {
    background-color: transparent;
    height: 60px !important;
    min-height: 60px !important;
    position: relative;
    margin: 1px;
    ion-label{
        color: black;
    }
  
}
.color-white {
    color: white;
}
.color-black {
    color: black;
}
.center-data{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.color-red{
    background-color:red;
    height: 60px !important;
    min-height: 60px !important;
    position: relative;  
    margin: 1px;  
}
tr:nth-child(even) {background-color: rgb(227, 227, 227)}
tr {
    background-color: rgb(240, 240, 240);
}
thead th {
    padding: 18px 0px 18px 0px;
    color: #F36633;
}
thead tr {
    background-color: white !important;
}
th,td{
    text-align: center;
    width: 20%;
}
  tfoot td {
      padding: 15px 0px 15px 0px;
  }
  
  .section-margin{
      width: 100%;
  }
  .action-section{
      background-color: white;
      padding: 30px;
      height: auto;
  }
  .event-section{
    padding: 5px 30px 0px 30px;
    background-color: white;
    margin-top: 10px;
    font-size: 10px;
}
.color-transparent {
    background-color:rgba(240, 222, 216, 1) ;
}
.icon-color {
color: #F36633;
    
}
.mrp-section {
    font-size: 10px;
    p{
        padding: 0 !important;
        margin: 0 !important;
    }
}


