<app-header heading="Select Distributor" [showMenuButton]="true" [showSubHeader]="true" [showSearch]=false [showCart]="true">
</app-header>
<ion-content>
  <table  class="section-margin">
    <thead >
      <tr>
        <th>{{'sdistributor.sdistributorPage.products' | translate}}</th>
        <th>{{'sdistributor.sdistributorPage.quantity' | translate}}</th>
        <th>Distributor 1</th>
        <th>Distributor 2</th>
        <th>Distributor 3</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of [1,2,3,4]">
        <td>Synfiorix</td>
        <td>
          <ion-row>
            <ion-col>
               <div class="ion-text-center">
                <ion-icon  slot="icon-only" name="remove-circle-outline"></ion-icon>
               </div>
               <div class="ion-text-center">
                <ion-label >609</ion-label>
              </div>
               <div class="ion-text-center">
                <ion-icon  slot="icon-only" name="add-circle-outline"></ion-icon>
               </div>
              
            </ion-col>
          </ion-row>
        </td>
        <td>{{45678 | currency:'INR':'symbol-narrow':'4.2-2'}}</td>
        <td>{{45678 | currency:'INR':'symbol-narrow':'4.2-2'}}</td>
        <td>{{45678 | currency:'INR':'symbol-narrow':'4.2-2'}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td style="color: #F36633;">{{'sdistributor.sdistributorPage.total' | translate}}</td>
        <td>
          <ion-label>50</ion-label>
        </td>
        <td>{{45678 | currency:'INR':'symbol-narrow':'4.2-2'}}</td>
        <td>{{45678 | currency:'INR':'symbol-narrow':'4.2-2'}}</td>
        <td>{{45678 | currency:'INR':'symbol-narrow':'4.2-2'}}</td>
      </tr>
      <tr>
        <td [colSpan]="2">{{'sdistributor.sdistributorPage.sdistributor' | translate }}</td>
        <td>
          <ion-checkbox type="checkbox" name="distributor" value="first" (ionChange)="selectDistributor($event)">
          </ion-checkbox>
        </td>
        <td>
          <ion-checkbox type="checkbox" name="distributor" value="second" (ionChange)="selectDistributor($event)">
          </ion-checkbox>
        </td>
        <td>
          <ion-checkbox type="checkbox" name="distributor" value="third" (ionChange)="selectDistributor($event)">
          </ion-checkbox>
        </td>
      </tr>
    </tfoot>
  </table>
</ion-content>
<app-footer (firstEvent)="continueClicked();" (secondEvent)="cancel();" [isFirstOutline]=true [isSecondOutline]=false [firstTitle]="'sdistributor.sdistributorPage.continue'" [secondTitle]="'sdistributor.sdistributorPage.cancel'" [showInfo]=true [infoText]="distributor" [infoLabel]="'sdistributor.sdistributorPage.selected-distributor'"></app-footer>
