.headerContent {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 90px;
  background: transparent linear-gradient(180deg, #EF4B22 0%, #F69427 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}

ion-card {
  background-color: var(--ion-gsk-white-color);
  margin-bottom: 10px;
  margin-top: 0px;
  margin-right: 10px;
  margin-left: 10px;
}

ion-item {
  --ion-background-color: transparent !important;
  --detail-icon-color: var(--ion-gsk-orange-color);
  --detail-icon-font-size: 24px;
  --detail-icon-opacity: 1;
}

.cardTop {
  margin-top: 10px;
}

.msgDiv {
  text-align: center;
  text-align: center;
  margin-top: 30%;
  font-size: 25px;
  color: var(--ion-gsk-orange-color);
}
