<app-header heading="My Orders" [showMenuButton]="true" [issettingIcon]=true (openSetting)="showFilter();" [showSearch]="true" [showSubHeader]=true>
</app-header>

<ion-content>
  <div *ngIf="myOrders.length; else noOrderMessage" class="cardTop"> 
  <ion-card *ngFor="let orders of myOrders;let i = index"  [ngStyle]="{'background-color':bgColor}"  (click)="goToDetail(orders.gskOrderNo)" >
    <ion-item detail lines="none">
        <ion-icon slot="start"  name="person" class="card-icon"></ion-icon>
        <ion-label class="card-label">
          <p class="card-title">{{orders.gskOrderNo}}</p>
          <p>
            <ion-label class="left-content">Delivered on {{orders.gskOrderDate | date}}</ion-label>
          </p>
        </ion-label>
      </ion-item>
    </ion-card>
    </div>
    <ng-template #noOrderMessage>
      <ion-row>
        <ion-col class="msgDiv">
          <div> 
              {{noOrdermsg}}
          </div>
        </ion-col>
        </ion-row>
    </ng-template>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-row>
      <ion-col>
      <ion-button expand="block" fill="solid" (click)="loadMore();" [disabled]="disable">Load more</ion-button>
    </ion-col>
    </ion-row>
</ion-footer>
