// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #F36633;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #F36633;
  --ion-color-primary-tint: #F36633;


  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;



  /** gsk-red **/
  --ion-color-gsk-red: #8C1219;
  --ion-color-gsk-red-rgb: 140, 18, 25;
  --ion-color-gsk-red-contrast: #ffffff;
  --ion-color-gsk-red-contrast-rgb: 255, 255, 255;
  --ion-color-gsk-red-shade: #7b1016;
  --ion-color-gsk-red-tint: #982a30;

  /** gsk-white **/
  --ion-color-gsk-white: #ffffff;
  --ion-color-gsk-white-rgb: 255, 255, 255;
  --ion-color-gsk-white-contrast: #000000;
  --ion-color-gsk-white-contrast-rgb: 0, 0, 0;
  --ion-color-gsk-white-shade: #e0e0e0;
  --ion-color-gsk-white-tint: #ffffff;

  /** gsk-dark-blue **/
  --ion-color-gsk-dark-blue: #000D24;
  --ion-color-gsk-dark-blue-rgb: 0, 13, 36;
  --ion-color-gsk-dark-blue-contrast: #ffffff;
  --ion-color-gsk-dark-blue-contrast-rgb: 255, 255, 255;
  --ion-color-gsk-dark-blue-shade: #000b20;
  --ion-color-gsk-dark-blue-tint: #1a253a;


  /** gsk-gray **/
  --ion-color-gsk-gray: #727272;
  --ion-color-gsk-gray-rgb: 114, 114, 114;
  --ion-color-gsk-gray-contrast: #ffffff;
  --ion-color-gsk-gray-contrast-rgb: 255, 255, 255;
  --ion-color-gsk-gray-shade: #646464;
  --ion-color-gsk-gray-tint: #808080;
  --ion-color-gsk-gray-light: #6464642e;

  /** gsk-green **/
  --ion-color-gsk-green: #3A7013;
  --ion-color-gsk-green-rgb: 43, 182, 115;
  --ion-color-gsk-green-contrast: #000000;
  --ion-color-gsk-green-contrast-rgb: 0, 0, 0;
  --ion-color-gsk-green-shade: #26a065;
  --ion-color-gsk-green-tint: #40bd81;

  /** gsk-black **/
  --ion-color-gsk-black: #242424;
  --ion-color-gsk-black-rgb: 36, 36, 36;
  --ion-color-gsk-black-contrast: #ffffff;
  --ion-color-gsk-black-contrast-rgb: 255, 255, 255;
  --ion-color-gsk-black-shade: #202020;
  --ion-color-gsk-black-tint: #3a3a3a;

  --ion-color-gsk-yellow: #e68700;


  /** gsk-background **/
  --ion-color-gsk-background: #ebebeb;
  --ion-color-gsk-background-rgb: 235, 235, 235;
  --ion-color-gsk-background-contrast: #000000;
  --ion-color-gsk-background-contrast-rgb: 0, 0, 0;
  --ion-color-gsk-background-shade: #cfcfcf;
  --ion-color-gsk-background-tint: #ededed;


  /* Set the background color for the entire app */
  --ion-background-color: #ebebeb;

  /* Set the font family of the entire app */
  --ion-font-family: "DIN";

  /**gsk colors**/
  --ion-gsk-background: #ebebeb;
  --ion-gsk-orange-color: #F36633;
  --ion-gsk-white-color: #ffffff;
  --ion-gsk-label-title: #ffffff;
  --ion-gsk-back-button: #8D1119;
  --ion-gsk-menu-button: #8D1119;
  --ion-gsk-label-black: black;
  --ion-gsk-menu-icon: #B52E39;
  --ion-gsk-unread-color: #ebebeb;
  --ion-gsk-legend-color: #333333;
  --ion-gsk-error-message-color: #ff0000;
  --ion-gsk-lineargradient-color: transparent linear-gradient(180deg, #EF4B22 0%, #F69427 100%) 0% 0% no-repeat padding-box;

  --ion-gsk-textlight: #F1F1F1;

  --ion-gsk-textGrey: #6C6C6C;


}


/** gsk-red class **/
.ion-color-gsk-red {
  --ion-color-base: var(--ion-color-gsk-red) !important;
  --ion-color-base-rgb: var(--ion-color-gsk-red-rgb) !important;
  --ion-color-contrast: var(--ion-color-gsk-red-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-gsk-red-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-gsk-red-shade) !important;
  --ion-color-tint: var(--ion-color-gsk-red-tint) !important;
}


/** gsk-white class **/
.ion-color-gsk-white {
  --ion-color-base: var(--ion-color-gsk-white) !important;
  --ion-color-base-rgb: var(--ion-color-gsk-white-rgb) !important;
  --ion-color-contrast: var(--ion-color-gsk-white-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-gsk-white-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-gsk-white-shade) !important;
  --ion-color-tint: var(--ion-color-gsk-white-tint) !important;
}


/** gsk-dark-blue class **/
.ion-color-gsk-dark-blue {
  --ion-color-base: var(--ion-color-gsk-dark-blue);
  --ion-color-base-rgb: var(--ion-color-gsk-dark-blue-rgb);
  --ion-color-contrast: var(--ion-color-gsk-dark-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-gsk-dark-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-gsk-dark-blue-shade);
  --ion-color-tint: var(--ion-color-gsk-dark-blue-tint);
}

/** gsk-gray class **/
.ion-color-gsk-gray {
  --ion-color-base: var(--ion-color-gsk-gray);
  --ion-color-base-rgb: var(--ion-color-gsk-gray-rgb);
  --ion-color-contrast: var(--ion-color-gsk-gray-contrast);
  --ion-color-contrast-rgb: var(--ion-color-gsk-gray-contrast-rgb);
  --ion-color-shade: var(--ion-color-gsk-gray-shade);
  --ion-color-tint: var(--ion-color-gsk-gray-tint);
}

/** gsk-green class **/
.ion-color-gsk-green {
  --ion-color-base: var(--ion-color-gsk-green);
  --ion-color-base-rgb: var(--ion-color-gsk-green-rgb);
  --ion-color-contrast: var(--ion-color-gsk-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-gsk-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-gsk-green-shade);
  --ion-color-tint: var(--ion-color-gsk-green-tint);
}

/** gsk-black class **/
.ion-color-gsk-black {
  --ion-color-base: var(--ion-color-gsk-black);
  --ion-color-base-rgb: var(--ion-color-gsk-black-rgb);
  --ion-color-contrast: var(--ion-color-gsk-black-contrast);
  --ion-color-contrast-rgb: var(--ion-color-gsk-black-contrast-rgb);
  --ion-color-shade: var(--ion-color-gsk-black-shade);
  --ion-color-tint: var(--ion-color-gsk-black-tint);
}

.ion-color-gsk-background {
  --ion-color-base: var(--ion-color-gsk-background);
  --ion-color-base-rgb: var(--ion-color-gsk-background-rgb);
  --ion-color-contrast: var(--ion-color-gsk-background-contrast);
  --ion-color-contrast-rgb: var(--ion-color-gsk-background-contrast-rgb);
  --ion-color-shade: var(--ion-color-gsk-background-shade);
  --ion-color-tint: var(--ion-color-gsk-background-tint);
}
