<ion-header>
  <ion-toolbar>
     <ion-title color="gsk-white" class="termsCondtn"> 
      Terms & Conditions
    </ion-title>
  </ion-toolbar>
</ion-header>
 <ion-content>
   <ion-row>
     <ion-col class="term-section">
       <div [innerHTML]="termsConditionText"></div>
     </ion-col>
   </ion-row>
 </ion-content>
 <ion-footer class="ion-no-border">
  <ion-row>
    <ion-col>
      <ion-button expand="block" fill="solid" (click)="goToProductList()">{{'model.modelPage.accept' | translate}}</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block" fill="solid" (click)="dismissModel()" class="orderDetail">{{'model.modelPage.decline' | translate}}</ion-button>
    </ion-col>
  </ion-row>