<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Terms & Conditions
    </ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content>
   <ion-row>
     <ion-col class="term-section">
       <ion-label>
        Spearheaded by the Emerging Technologies Wing of State’s IT Department, the ‘Medicine from the Sky’ project, with which World Economic Forum, NITI Aayog, and HealthNet Global are associated, entails undertaking experimental Beyond Visual Line of Sight (BVLOS) drone flights for delivery of vaccines using the identified airspace of Vikarabad.
        The workshop explored potential hazards and mitigation strategies during the upcoming trials. It discussed the Concept of Operations (CONOPS) and Specific Operations Risk Assessment (SORA). The CONOPS included detailed description of operations, various system checks, communication protocols, daily flight planning, roles and responsibilities of both crew and officials to ensure smooth conduct of the trials, a release said some.
       </ion-label>
     </ion-col>
   </ion-row>
 </ion-content>
 <ion-footer class="ion-no-border">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <div class="button-padding">
            <ion-button  fill="outline" (click)="goToProductList()">{{'model.modelPage.accept' | translate}}</ion-button>
          </div>
          <div class="button-padding">
            <ion-button  fill="outline" (click)="dismissModel()">{{'model.modelPage.decline' | translate}}</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
   </ion-grid>
 </ion-footer>
