.msgDiv {
  text-align: center;
}


.pdnTop {
  padding-top: 5%;
}

.plcText {
  text-indent: 10px;
}

.logoRight {
  text-align: right;
}

ion-col {
  ion-input {
    border: solid 1px var(--ion-gsk-orange-color);
    border-radius: 9px;
  }
}
