.msgDiv {
  text-align: center;
}

ion-content {
  background-color: var(--ion-gsk-white-color);
  --background: none;
}

ion-item {
  --background: var(--ion-gsk-white-color);
}


.pdnTop {
  padding-top: 5%;
}

.plcText {
  text-indent: 10px;
}

.logoRight {
  text-align: right;
}

ion-col {
  ion-input {
    border: solid 1px var(--ion-gsk-orange-color);
    border-radius: 9px;
  }
}
