<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col float-left>
        <img src="/assets/images/VX_logo.png">
      </ion-col>
      <ion-col float-right class="logoRight">
        <img src="/assets/images/GSK_logo.png">
      </ion-col>
 </ion-row>
    <ion-row>
      <ion-col class="msgDiv">
        <h1>{{'login.loginPage.welcome' | translate}}</h1>
        <div> 
          {{'login.loginPage.signToContinue' | translate}}
        </div>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="imgCenter">
          <img src="/assets/images/Icon_01_Vaccine.svg">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset=1 size=10>
        <ion-input  [(ngModel)]="loginInput" placeholder="{{'login.loginPage.enterUserDetails' | translate}}" class="plcText"></ion-input>
      </ion-col>
    </ion-row>
   <div class="pdnTop">
      <ion-radio-group [(ngModel)]="inputType" (ionChange)="inputVal($event)">
        <div class="msgDiv">
          {{'login.loginPage.otpText' | translate}}
        </div>
        <ion-row>
         <ion-col offset="1">
           <ion-item lines="none">
              <ion-radio slot="start" mode="md" item-left value="number"></ion-radio>
              <ion-label>{{'login.loginPage.mobile' | translate}}</ion-label>
         </ion-item>
       </ion-col>
      <ion-col>
          <ion-item lines="none">
              <ion-radio slot="start" mode="md" item-left value="email"></ion-radio>
              <ion-label>{{'login.loginPage.email' | translate}}</ion-label>
         </ion-item>
      </ion-col>
    </ion-row>
      </ion-radio-group>
    </div>
  
  </ion-grid>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-row>
      <ion-col>
      <ion-button expand="block" fill="solid" (click)="doLogin();">{{'login.loginPage.getotp' | translate}}</ion-button>
    </ion-col>
    </ion-row>
</ion-footer>
