.profileText {
  padding-top: 10%;
}


ion-menu {
  --min-width: 100%;
}

ion-item {
  --background: var(--ion-gsk-white-color);
  padding: 10px 10px 10px 10px;
  --border-radius: 6px;
}

.menuTitle {
  text-align: left;
  padding-left: 45px;
}

.someText {
  color: var(--ion-gsk-white-color);
  font-size: 36px;
  padding-top: 36px;
}

ion-card {
  background-color: var(--ion-gsk-white-color);
}
