<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header class="menuHeight">
        <ion-menu-toggle auto-hide="false">
          <ion-toolbar class="someText">
            <ion-icon  slot="start" name="person-circle-outline"></ion-icon>
          <ion-title class="menuTitle" color="gsk-white">
            Welcome, John Doe
          </ion-title>
              <ion-icon slot="end" name="close"></ion-icon>
        
        </ion-toolbar>
        </ion-menu-toggle>
      </ion-header>
      <ion-content>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="true" (click)="logout(p.url);" routerLinkActive="selected">
             
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer class="ion-no-border">
        <ion-row>
          <ion-col class="imgCenter">
        <img src="/assets/images/GSK_logo.png">
      </ion-col>
        </ion-row>
        <ion-row class="imgCenter">
          <ion-col class="imgCenter">
        <img src="/assets/images/VX_logo.png">
        </ion-col>
      </ion-row>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
