ion-card {
  margin-bottom: 10px;
  margin-top: 0px;
  margin-right: 10px;
  margin-left: 10px;
}

table{
  font-size: 8px !important;
  border: 1px solid white;
  margin: 1px;
  width: 74px !important;

}
th,td {
  text-align: center;
  padding: 1px 2px 0px 2px;
  border: 1px solid white;
}
.product-quantity {
  font-size: 28px;
  color: #F36633;
}

.quantity {
  font-size: 20px;
  align-self: center;

}
.padding-five{
  padding-right: 5px;
}
.text-margin {
  margin-top: 3px;
}

ion-row, ion-col {
  padding: 0 !important;
  margin: 0 !important;
}

.img-padding {
  padding-top: 10px !important;

  img {
    width: 200px;
    height: 100px;
  }
}

.card-section {
  padding: 0 10px 10px 10px !important;
  margin: 0 !important;
}

.content-section {
  align-items: center;
  margin-top: 10px;
}

.text-color {
  color: black;
  font-size: 14px;
}

.event-section {
  padding: 5px 30px 0px 30px;
  background-color: white;
}

.offer-content {
  width: 76px;
  height: 63px;
  background-color: #A90B1B;
  border-bottom: 1px solid #A90B1B;
  padding: 0 !important;;
}
.line-left {
  min-height: 1px !important;
  min-width: 100% !important;
  height: 1px !important;
  width: 100% !important;
  background-color: white !important;
  position: relative;
  left: 2px;
}
.line-right {
  min-height: 1px !important;
  min-width: 100% !important;
  height: 1px !important;
  width: 100% !important;
  background-color: white !important;
  position: relative;
  right: 2px;
}

.content {
  width: 0;
  height: 0;
  border-left: 38px solid #A90B1B;
  border-right: 38px solid #A90B1B;
  border-top: 19px solid #A90B1B;
  border-bottom: 19px solid transparent;
}

.line {
  min-height: 1px !important;
  min-width: 20px !important;
  height: 1px !important;
  width: 20px !important;
  background-color: white !important;
}

.offer-item {
  padding: 0 !important;
  margin: 0 !important;

  ion-row,
  ion-col {
    padding: 0 !important;
    margin: 0 !important;
  }

  color: white;
}
