ion-searchbar{
    --background : white;
    --border-radius: 5px !important;
    --box-shadow:0 ;
}
ion-card{
    background-color: white;
    margin-bottom: 30px;
}
.product-quantity{
    font-size: 28px;
}
.quantity{
    font-size: 10px;
    align-self: center;
   
}
.text-margin{
    margin-top: 5px;
}
ion-col{
    padding: 0 !important;
    margin: 0 !important;
}
.img-padding{
    padding-top: 30px !important;
    img{
        width: 200px;
        height: 120px;
    }
}
.card-section{
    padding: 10px;
}
.content-section{
    align-items: center; 
    margin-top: 10px;
}

.text-color{
    color: black;
}
.event-section{
    padding: 5px 30px 0px 30px;
    background-color: white;
}
.offer-content{
    width: 80px;
    height: 60px;
    background-color: red;
}
.content{
    width: 0;
    height: 0;
    border-left: 40px solid red;
    border-right: 40px solid red;
    border-top: 20px solid red;
    border-bottom: 20px solid transparent;
}



