<app-header heading=" " [showMenuButton]="true" [showSubHeader]="false" [showSearch]="true" [showCart]="true">
</app-header>
<ion-content>
  <ion-card *ngFor="let item of [1,2,3]">
    <ion-grid class="card-section">
      <ion-row class="ion-no-padding"class="ion-no-margin" >
        <ion-col size="4">
          <div class="offer-content">
            <ion-grid class="offer-item">
              <ion-row style="align-items: center;">
                <ion-col size="4">
                  <div class="line"></div>
                </ion-col>
                <ion-col size="4">
                  <div class="ion-text-center">
                    <ion-icon style="color: white;" name="star"></ion-icon>
                  </div>
                </ion-col>
                <ion-col size="4">
                  <div class="line"></div>
                                </ion-col>
              </ion-row>
              <ion-row >
                <ion-col >
                  <div class="ion-text-center">
                    <ion-label style="font-size: 10px;color: white;">BUY 2 & GET 2</ion-label>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row >
                <ion-col >
                  <div class="ion-text-center" style="padding-top: 5px;">
                    <ion-label style="font-size: 20px;border: 1px solid white;padding: 2px;margin-top: 8px;">FREE</ion-label>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          <div class="content"></div>
        </ion-col >
        <ion-col class="img-padding" size="8">
          <div class="ion-text-center">
            <img src="/assets/images/vaccine.jpeg">
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="content-section">
        <ion-col size="8">
          <div class="ion-text-left">
            <ion-label >
              <h2 class="text-color">Oral poliovirus vaccine </h2>
              <p class="text-color">Polio</p>
            </ion-label>
          </div>
        </ion-col>
        <ion-col size="4">
          <ion-row>
            <ion-col>
              <div class="ion-text-right">
                <ion-icon class="product-quantity" name="remove-circle-outline"></ion-icon>
              </div>
            </ion-col>
            <ion-col>
              <div class="ion-text-center text-margin">
                <ion-label class="quantity">87</ion-label>
              </div>
            </ion-col>
            <ion-col>
              <div class="ion-text-left">
                <ion-icon class="product-quantity" name="add-circle-outline"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>

<app-footer  [isFirstOutline]=true [isSecondOutline]=false [firstTitle]="'product-list.product-listPage.aCart'" [secondTitle]="'product-list.product-listPage.bNow'" (firstEvent)="addToCart()" (secondEvent)="buyNow()"></app-footer>
