<div class="alert-container">
  <div class="alert">
    <ion-row>
      <ion-col>
        <div class="ion-text-right">
          <ion-icon class="icon-text" name="close-outline" (click)="closeModal()"></ion-icon>
                </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <div class="img-circel">
          <img src="/assets/images/Icon_Dialog_Allert.png">
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <ion-label class="alert-text">Alerts!</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="msg-text">
        <ion-label>Slum formation and settlements globally are an indication of either a housing deficit or the relative un-affordability of formal housing. Across developing nations it is quite common to find the urban poor resolving their accommodation issues by moving to slums while the government more often seeks to oppose the formation and continued existence of such settlements. Government interventions consequently further exposes the informal dwellers of these settlements into extreme vulnerabilities</ion-label>
      </ion-col>
    </ion-row>
    <div class="bottom-div">
      <ion-button fill="outline" size="small">Privacy Policy</ion-button>
    </div>
  </div>
</div>

