<div class="alert-container">
  <div class="alert">
    <div *ngIf="!showFilter">
    <ion-row>
      <ion-col>
        <div class="ion-text-right">
          <ion-icon class="icon-text" name="close-outline" (click)="closeModal()"></ion-icon>
                </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <div class="img-circel">
          <img src="/assets/images/Icon_Dialog_Allert.png">
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <ion-label class="alert-text">Alerts!</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="msg-text">
        <div class="heading">
        <div class="header-text"> <h2 style="font-size: 20px;color: white;">GSK VaxiKart Privacy Notice</h2></div> 
         <h6>Welcome to VaxiKart App</h6>
         <p>VaxiKart App is a service provided by GSK, which lets you order and manage your GSK vaccines requirements through an online Application platform. This service is provided to the HealthCare Professionals and Corporate Hospitals/Pharmacies only.

          At GlaxoSmithKline and its affiliated entities (“GSK” or “We”, spread across many jurisdictions), we value your privacy and care about the way in which your personal information is treated.
          
          GSK and its trusted third-party suppliers (which may be outside your home country) may collect and process some personal information related to you for the purposes of logging into the App and serving you better with timely fulfilment of your vaccine order.
          
          Personal Information (PI) collected includes: Your Name including first and last name, email address and/or mobile number, address including postal code</p>
         <p>Please review the full <a href="https://privacy.gsk.com/en-in/privacy-notice/">Privacy Notice</a> to find out how we use your personal information and your rights in relation to that information.</p>
       <p>In line with the above Notice and for the purpose quoted above, pls share your explicit consent by selecting the checkbox:</p>
      <li>I consent for GSK and its trusted third parties to process my personal information (PI) only for the purposed quoted above. I understand that this may include processing of PI outside my home country, with appropriate measures implemented to protect my data.</li>  
    <li>I consent to receiving SMS and/or email contextual reminders for the purpose of generation of an OTP and/or related to your account.</li>  
  <p>You have the right to withdraw your consent for the purposes set out above, at any time.</p>  
 <li>Manage your preference to receive contextualized reminders by SMS or email, by using the available mechanisms to opt-out.</li> 
</div>
      </ion-col>
    </ion-row>

  </div>
  <div *ngIf="showFilter">
    <ion-row>
      <ion-col>
        <div class="ion-text-right">
          <ion-icon class="icon-text" name="close-outline" (click)="closeModal()"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="display: block;">
      <ion-item class="dropdownClr">
        <ion-label>Status</ion-label>
        <ion-select (ionChange)="selectValue($event)"  placeholder="Select">
          <ion-select-option value="all">ALL</ion-select-option>
          <ion-select-option value="ordered">Ordered</ion-select-option>
          <ion-select-option value="confirmed">Confirmed</ion-select-option>
          <ion-select-option value="invoiced">Invoiced</ion-select-option>
          <ion-select-option value="delivered">Delivered</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-row>
    <ion-row style="display: block;">
      <ion-item class="dropdownClr">
        <ion-label>Product</ion-label>
        <ion-select (ionChange)="productSelect($event)"  placeholder="Select">
          <ion-select-option *ngFor="let prod of productsData; let i = index" value="{{prod.productCode}}">{{prod.productDescription}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-row>
    <ion-row style="display: block;">
      <ion-item class="dropdownClr">
        <ion-label>Start Date</ion-label>
        <ion-datetime placeholder="Select Date"  display-format="DD-MM-YYYY" (ionChange)="showDate($event,'start')"  [max]="minDate" [min]="maxDate"></ion-datetime>
      </ion-item>
      <ion-item class="dropdownClr">
        <ion-label>End Date</ion-label>
        <ion-datetime placeholder="Select Date"  display-format="DD-MM-YYYY"  (ionChange)="showDate($event,'end')" [max]="minDate" [min]="maxDate"></ion-datetime>
      </ion-item>
    </ion-row>
    <div class="bottom-div">
      <ion-button fill="outline" size="small" (click)="applyFilter();">Apply</ion-button>
    </div>
    <!-- <ion-row>
      <ion-col>
        <ion-button style="margin-top: 50%;" expand="block" fill="solid" (click)="applyFilter();">Apply</ion-button>
      </ion-col>
    </ion-row> -->
  </div>
</div>
</div>

