.alert-container {
  width: 100%;
  height: 100;
  background-color: transparent;
  display: table;
  vertical-align: middle;
  text-align: center;
}
.accept{
  position: absolute;
  top:5px;
  color:#f04141;

}

.alert {
  display: inline-block;
  min-width: 300px;
  min-height: 420px;
  background-color: white;
  width: 300px;
  height: 420px;
  position: absolute;
  border-radius: 10px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.applybtn {
  background-color: none;
}

.img-circel {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #F69427;
  display: inline-block;
  padding-top: 15px;
}

.alert-text {
  color: #F69427;
  font-size: 22px;
  margin-top: 5px;
}

.msg-text {
  overflow: scroll;
  margin: 0px 5px 10px 5px;
}
.heading{
  height: 210px;

}
.header-text{
  background-color: #F69427;
}
.dropdownClr {
  color: var(--ion-gsk-orange-color);
}

.bottom-div {
  position: absolute;
  bottom: 10px !important;
  height: 40px;
  min-height: 40px;
  min-width: 300px;
}

ion-button {
  --background: white;
  height: 40px;
}

.icon-text {
  font-size: 22px;
  color: #F36633;
}
