.left-content {
  display: inline-block;
  min-width: 100px !important;
  font-size: 12px;
  color: #797979;
}
ion-button{
  --background:transparent;
}
.right-content {
  display: inline-block;
  font-size: 12px;
  color: #797979;

}

ion-card {
  margin-bottom: 10px;
  margin-top: 0px;
  margin-right: 5px;
  margin-left: 5px;
}

ion-item {
  --ion-background-color: transparent !important;
  --detail-icon-color: #F36633;
  --detail-icon-font-size: 24px;
  --detail-icon-opacity: 1;
  padding: 0 !important;
}

.card-title {
  font-size: 16px;
  color: black;
}

.card-icon {
  margin: 0px 15px 0px 0px !important;
}

.card-label {
  margin: 8px 0 0 0 !important;
}

ion-footer {
  background-color: white;

  ion-button {
    margin: 10px;
  }
}

.icon-color {
  color: #F36633;
}
