<app-header heading="Order Details" showMenuButton="true" showSubHeader=true showSearch="false">
</app-header>

<ion-content>
  <ion-stepper #stepper (selectIndexChange)="selectChange($event)">
    <ion-step label="Step1"
              description="Step1 description">
      <h2>Step1 Content</h2>
      <p>Step1 Content</p>
      <button ion-button small ionicStepperNext>Next</button>
    </ion-step>
    <ion-step label="Step2 - Step2 - Step2"
              description="Step1 description">
      <h2>Step2 Content</h2>
      <p>Step2 Content</p>
      <button ion-button color="light" small ionicStepperPrevious>Previous</button>
    </ion-step>
  </ion-stepper>
</ion-content>
