<app-header heading="Order Details" [showMenuButton]="true" [showSubHeader]="true" [showSearch]="false">
</app-header>

<ion-content>
  <div *ngIf="bindata">
  <app-track-order  [isOrderdetails]="true"  [createdOn]="orderDetailHeader.createdOn" [gskOrderDate]="orderDetailHeader.gskOrderDate" [payGatewayTrxnDt]="orderDetailHeader.payGatewayTrxnDt" [deliveryDate]="orderDetailHeader.deliveryDate"></app-track-order>

<ion-card>
  <div class="cardContent">
    Order Id: {{orderDetailHeader.gskOrderNo}}
  </div>
  <div class="cardContn">
    Order Status: <span class="textGreen">{{orderDetailHeader.orderStatusId}}</span>
  </div>
</ion-card>
<div>
<ion-row class="orderClass">
  <ion-col>
    Order Summary
    <div (click)="viewDetails();">
      <ion-icon name="eye-outline" class="viewIcon"></ion-icon><span class="viewdetail">View Details</span>
    </div>
  </ion-col>
  <ion-col (click)="viewDetails();">
    Invoice Summary
    <div>
      <ion-icon name="eye-outline" class="viewIcon"></ion-icon> <span class="viewdetail">View Details</span>
    </div>
  </ion-col>
</ion-row>
</div>
<ion-card>
  <ion-row class="cardContentDetail">
    <ion-col>
      Sub Total
    </ion-col>
    <ion-col>
      {{orderDetailHeader.subTotal}}
    </ion-col>
    <ion-col>
      {{orderDetailHeader.subTotal}}
    </ion-col>
  </ion-row>
  <ion-row class="cardContentDetail">
    <ion-col>
      GST
    </ion-col>
    <ion-col>
      {{orderDetailHeader.totalTax}}
    </ion-col>
    <ion-col>
      {{orderDetailHeader.totalTax}}
    </ion-col>
  </ion-row>
  <ion-row class="cardContentDetailGST">
    <ion-col>
      GST Discount
    </ion-col>
    <ion-col>
      {{orderDetailHeader.totalDiscount}}
    </ion-col>
    <ion-col>
      {{orderDetailHeader.totalDiscount}}
    </ion-col>
  </ion-row>
</ion-card>
<div >
  <ion-row class="orderClass">
    <ion-col>
      Net Price
    </ion-col>
    <ion-col>
      {{orderDetailHeader.orderValue}}
    </ion-col>
    <ion-col>
      {{orderDetailHeader.orderValue}}
    </ion-col>
    </ion-row>
    </div>
    </div>
</ion-content>

<app-footer [isIcon]=true  [isFirstOutline]=false [moreEvent]=false [firstTitle]="'Re-order'" (firstEvent)="reorderPressed()"></app-footer>
