/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.title-header {
  top: 0px !important;
  left: 0px !important;
  width: 100% !important;
  height: 90px !important;
  background: transparent linear-gradient(180deg, #EF4B22 0%, #F69427 100%) 0% 0% no-repeat padding-box !important;
  opacity: 1 !important;
}

ion-card {
  --background: var(--ion-gsk-white-color);
}

ion-toolbar {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 90px;
  --background: transparent linear-gradient(180deg, #EF4B22 0%, #F69427 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}

.footerDiv {
  top: 591px;
  left: 0px;
  width: 375px;
  height: 76px;
  background: transparent linear-gradient(180deg, #EF4B22 0%, #F69427 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}


.cartSize {
  color: var(--ion-color-gsk-gray-contrast);
  font-size: 35px;
}

.menuBtn {
  padding-top: 12%;
  opacity: 1;
}

.menuSize {
  font-size: 35px;
}

.backButtonicon {
  color: var(--ion-gsk-background);
  font-size: 12px;
}

ion-item {
  --detail-icon-color: var(--ion-gsk-orange-color);
  --detail-icon-opacity: 1px;
}

ion-button {
  --background: var(--ion-gsk-lineargradient-color);
  --border-radius: 20px;
}

.imgCenter {
  text-align: center;
}

ion-avatar {
  border: 1px solid black;
}

.flex {
  display: flex;
}

.full-width {
  width: 100% !important;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.text-tiny {
  font-size: 11px !important;
}

.text-small {
  font-size: 12px !important;
}

.text-medium {
  font-size: 14px !important;
}

.text-normal {
  font-size: 16px !important;
}

.text-large {
  font-size: 24px !important;
}

.text-xlarge {
  font-size: 36px !important;
}

.text-xxlarge {
  font-size: 48px !important;
}

.radius {
  border-radius: 8px !important;
}

.divider {
  background: var(--ion-color-light);
  margin: 8px 0;
  height: 1px;
  width: 100%;
}

.bold {
  font-weight: bold;
}

.my-custom-modal-css .modal-wrapper {
  top: 80px;
  left: 21px;
  width: 333px;
  height: 518px;
  border-radius: 10px;
  opacity: 1;
}
.alert-custom-class .modal-wrapper{
  background: transparent !important;
}
