/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.title-header {
  top: 0px !important;
  left: 0px !important;
  width: 375px !important;
  height: 90px !important;
  background: transparent linear-gradient(180deg, #EF4B22 0%, #F69427 100%) 0% 0% no-repeat padding-box !important;
  opacity: 1 !important;
}

ion-toolbar {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 90px;
  --background: transparent linear-gradient(180deg, #EF4B22 0%, #F69427 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
}

.cartSize {
  color: var(--ion-color-gsk-gray-contrast);
  font-size: 35px;
}

.menuBtn {
  padding-top: 12%;
  opacity: 1;
}

.menuSize {
  font-size: 35px;
}

.backButtonicon {
  color: var(--ion-gsk-background);
  font-size: 12px;
}

ion-item {
  --detail-icon-color: var(--ion-gsk-orange-color);
  --detail-icon-opacity: 1px;
}

ion-button {
  --background: var(--ion-gsk-lineargradient-color);
}

.imgCenter {
  text-align: center;
}
