<ion-content>
  
    <div class="cardContent">
      Order Summary
    </div>
  <div>
    <ion-row class="orderClass">
      <ion-col>
        Distributor: Distributor name
      </ion-col>
    </ion-row>
    </div>
    
    <ion-card>
      <ion-row class="cardContentDetail">
        <ion-col>
          Synflorix
          <div>
            10123
          </div>
        </ion-col>
        <ion-col>
          123345
        </ion-col>
        <ion-col>
          234234
        </ion-col>
      </ion-row>
      <ion-row class="cardContentDetail">
        <ion-col>
          GST
        </ion-col>
        <ion-col>
          123345
        </ion-col>
        <ion-col>
          234234
        </ion-col>
      </ion-row>
      <ion-row class="cardContentDetailGST">
        <ion-col>
          GST Discount
        </ion-col>
        <ion-col>
          123345
        </ion-col>
        <ion-col>
          234234
        </ion-col>
      </ion-row>
    </ion-card>
    <div>
      <ion-row class="orderClass">
        <ion-col>
          Sub Total
        </ion-col>
        <ion-col>
          123345
        </ion-col>
        <ion-col>
          234234
        </ion-col>
      </ion-row>
      <ion-row class="orderClass">
        <ion-col>
          GST
        </ion-col>
        <ion-col>
          123345
        </ion-col>
        <ion-col>
          234234
        </ion-col>
      </ion-row>
      <ion-row class="orderClass">
        <ion-col>
          GST Discount
        </ion-col>
        <ion-col>
          123345
        </ion-col>
        <ion-col>
          234234
        </ion-col>
      </ion-row>
      
      </div>
</ion-content>

