.header-section
{
    background-color: rgb(206, 206, 206);
}
.header-bottom{
    justify-content: center;
    font-size: 12px;
}
ion-card{
    background-color: white;
 }
 ion-item{
     --ion-background-color: transparent !important;
     --detail-icon-color: #F36633;
     --detail-icon-font-size:24px;
     --detail-icon-opacity:1;
 }
 ion-avatar{
     padding: 5px;
 }