<app-header heading=" " [showMenuButton]="true" [showSubHeader]="true" [showSearch]="true" [showCart]="true">
</app-header>
<ion-content>
  <ion-card >
    <ion-item detail>
      <ion-avatar slot="start">
        <img src="assets/images/Icon_UPI.png">
      </ion-avatar>
      <ion-label>UPI</ion-label>
    </ion-item>
  </ion-card>
  <ion-card >
    <ion-item detail>
      <ion-avatar slot="start">
       <img src="assets/images/Group_323.png">
      </ion-avatar>
      <ion-label>Cash On Delivery</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
