
ion-row , ion-col{
    padding: 0 !important;
    margin: 0 !important;
}

ion-avatar{
    border:1px solid black;
    padding: 10px;
}
ion-card{
    background-color: white;
 }
 ion-item{
     --ion-background-color: transparent !important;
     --detail-icon-color: #F36633;
     --detail-icon-font-size:24px;
     --detail-icon-opacity:1;
 }
 .pay-section{
     padding: 10px;
     border-radius: 50%;
     border:1px solid black;
     margin: 5px;
 }